.word-spelling-app {
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  height: 76vh;
  padding: 20px;
  gap: 10px;
  font-family: Arial, sans-serif;
  transition: all 0.5s ease;
}

.body {
  padding: 0;
  flex: 23;
}

.words {
  margin: 10px;
  padding: 0 20px;
  width: 96%;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 600px;
  flex: 8 0 auto;
}

.word-card-instance {
  margin: 0.5% 1%;
  display: inline-block;
  transform-origin: center center 20px;
  transform-style: preserve-3d;
}

.word-card-instance:hover {
  scale: 1.05;
}

.pre-word-card {
  transform: rotateY(-5deg);
}

.next-word-card {
  transform: rotateY(5deg);
}
