:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.8;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  transition: background-color 0.5s ease;
}

html.dark {
  background-color: #242424;
  transition: background-color 0.5s ease;
}

html,
body {
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 320px;
  height: 100%;
  background-color: rgba(173, 216, 230, 0.02);
}

#app {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  transition: background-color 0.5s ease;
}
