:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.8;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.dark {
  background: #242424;
}

html,
body {
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 320px;
  height: 100%;
}

#app {
  margin: 0 auto;
  text-align: center;
  height: 100%;
}
